/* HTML base elements */
body {
    font-family: "Montserrat";
}

h2 {
    font-weight: bold;
}
/* Containers */
/* .container-fluid {
    padding: 4% 7%;
} */
/* Navbar Section CSS */
#navbar {
    padding: 1% 5%;
}

.nav-font {
    font-weight: 500;
    font-size: 2;
    margin-left: 40px;
}

.navbar-img {
    height: 40px;
}

.nav-link {
    color: #637763;
}

.btn-nav {
    background-color: #BF6F4D;
    color: #EBEBEB;
}
/* Hero Section CSS */
#title {
    background-color: #EBEBEB;
    padding: 4% 7% 0% 16%;
}

.title-text {
    padding: 10% 0% 5%;
    position: relative;
    bottom: 10%;
}

.title-button {
    background-color: #BF6F4D;
    color: #EBEBEB;
    margin: 20px 0px;
    padding-left: 3%;
    padding-right: 3%;
}

.title-image {
    width: 120%;
}

.title-big,.title-small {
    color: #BF6F4D;
    line-height: 123%;
}

.title.big {
    margin-bottom: 10px;
}

.title-small {
    margin: 10px 0px;
}
/* How can we help CSS */

#howCanWeHelp {
    text-align: center;
    padding: 4% 7%;
}

.helphow-title {
    color: #BF6F4D;
    margin-bottom: 20px;
}

.helphow-para {
    margin-bottom: 40px;
}

.dropdown-area {
    padding: 0% 7%;
}

.help-dropdown-title {
    font-weight: 400;
    color: #BF6F4D;
}

.helphow-button {
    padding: 3% 40%;
}

/* About Us Section CSS */
#aboutUs {
    background-color: #EBEBEB;
    position: relative;
    z-index: 1;
}

#about-us-carousel {
    padding: 0% 10%;
    position: relative;
    z-index: 1;
}

.luíza-img {
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 5%;
    z-index: 1;
}

.theresa-img {
    height: 100%;
    position: absolute;
    bottom: 0px;
    right: 50%;
    z-index: 1;
}

.brenda-img {
    height: 100%;
    position: absolute;
    bottom: 0px;
    right: 60%;
    z-index: 1;
}

.bio-text {
    padding: 7% 0%;
}

.about-title {
    color: #BF6F4D;
    margin-bottom: 30px;
}
.about-desc {
    font-size: 130%;
    font-weight: 500;
    line-height: 1.5;
}
/* Contact Us Section CSS */
#contact {
    background-color: #839383;
    font-size: 1.3rem;
    color: #EBEBEB;
    padding: 4% 7%;
}

#contact p {
    margin-bottom: 4%;
}

#contact h2 {
    font-size: 2.5rem;
}

.contact-title {
    text-align: center;
    padding: 0% 10% 7%;
}

.contact-diff-text {
    font-weight: bold;
}

.btn-white {
    background-color: #EBEBEB;
    color: #637763;
    padding-left: 3%;
    padding-right: 3%;
}
/* Testimonials Section CSS */
#testimonials {
    color: #637763;
}

#testimonial-carousel {
    padding: 7% 20%;
}

.testimonial-bg {
    position: absolute;
    z-index: -1;
}

.testimonial-image {
    width: 100%;
}

/* .testimonial-block {
    border-width: 1px;
    border-style: solid;
    border-color: #637763;
}  */

/* Contact Form Section CSS */
#contact-form {
    background-color: #EBEBEB;
}
.building {
    width: 100%;
}

/* Actual Contact Form CSS */
.col-contact-form {
    padding: 2% 5%;
}

#contact-form .form{
    background:#EBEBEB;
    border-radius:8px;
    position:relative
}

#contact-form input{
    width:100%;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    transition:all .3s;
    border-bottom:2px solid #bebed2
}

#contact-form input:focus{
    border-bottom:2px solid #78788c
}

#contact-form p:before{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    font-weight: 600;
    color:#5a5a5a
}

#contact-form button{
    padding:8px 20px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s
}

#contact-form button:hover{
    background:#78788c;
    color:#fff
}

#contact-form .actual-contact-form{
    content:'Hi';
    position:absolute;
    background:#50505a;
    color:#fff;
    width:320px;
    font-size:13px;
}

.contact-button {
    text-align: center;
}

.contact-bottom-text {
    text-align: center;
    margin-top: 27%;
}
/* Footer Section CSS */
#footer {
    background-color: #E9E5DC;
    font-size: 1rem;
    padding: 4% 20%;
    text-align: center;
}

#footer a {
    text-decoration: none;
    color: #5a5a5a;
}

.icon {
    padding: 3% 40%;
}

.icon-img {
    height: 50%;
}

.signature {
    font-size: 0.7rem;
}