/* Reset layout to make customizing easier */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Standard HTML elements */
body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

/* General carousel edits */
.gallery-cell {
    width: 100%;
    height: auto;
    padding: 3% 25% 5%;
    margin-right: 10vw;
}

/* big buttons, no circle */
.flickity-prev-next-button {
    width: 0px;
    height: 0px;
    background: transparent;
}

/* arrow color */
.flickity-prev-next-button .arrow {
    fill: transparent;
}

.flickity-prev-next-button.no-svg {
    color: transparent;
}

.flickity-prev-next-button:hover {
    display: none;
}

.flickity-prev-next-button:hover .arrow {
    display: none;
}

/* hide disabled button */
.flickity-prev-next-button:disabled {
    display: none;
}

/* position dots in gallery */
.flickity-page-dots {
    bottom: 5vh;
}


/* white circles */
.flickity-page-dots .dot {
    width: 1vw;
    height: 1vw;
    opacity: 1;
    background: transparent;
    border: 0.1rem solid #637763;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    background: #637763;
}

/* Navbar CSS elements */
.navbar-container {
    position: fixed;
    z-index: 1030;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 1em 4% 1em 1em;
}

.nav-logo {
    height: 100%;
    max-width: 150px;
}

.navbar-container a {
    text-decoration: none;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu a {
    color: #637763;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #637763;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: #fff;
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.nav-btn {
    background-color: #A96142;
    padding: 12px 18px;
    border-radius: 25px;
    color: #fff;
}

.nav-btn:hover {
    background-color: #fff;
    color: #A96142;
    /* Decreased padding size by 1px here to stop the button pushing the next section down when hovered */
    padding: 11px 17px;
    border: 1px solid #A96142;
}

/* Header Section CSS */
.header-container {
    background-color: #EBEBEB;
    display: flex;
    padding: 4% 7% 0% 16%;
    height: 20%;
    max-height: 20%;
}

.header-text {
    width: 58vw;
    padding-top: 10%;
    color: #A96142;
}

.header-lg-text {
    font-size: 3vw;
    font-weight: 500;
    margin-bottom: 2%;
}

.header-sm-text {
    font-size: 1.5vw;
    font-weight: 600;
    margin: 2% 0%;
    color: #915136;
}

.header-image {
    width: 42vw;
    padding-top: 4%;
    padding-left: 4%;
}

.header-image-image {
    top: 4%;
    max-width: 35vw;
    height: 80%;
    object-fit: scale-down;
}

.header-btn {
    text-align: center;
    display: block;
    width: 10vw;
    background-color: transparent;
    font-size: 1.3vw;
    border: 1px solid #915136;
    border-radius: 5px;
    color: #915136;
    margin-top: 4%;
    padding: 1% 4% 1% 4%;
}

.header-btn:hover {
    background-color: #915136;
    color: white;
}

/* How we can help section CSS */
#how-can-we-help {
    text-align: center;
    padding: 4% 0% 2%;
    height: auto;
    background-color: #fff;
}

/* text code */
.how-heading {
    color: #A96142;
    font-weight: 700;
    margin-bottom: 2vh;
    font-size: 2vw;
}

.how-paragraph {
    color: #637763;
    font-size: 1.5vw;
    margin-bottom: 8%;
}

/* Accordion code */
/* Code taken from https://supfort.com/font-awesome-accordion-arrow-css and modified to fit website aesthetic */
.accordion-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
}

.accordion-container input {
    display: none;
}

.accordion-item {
    padding-left: auto;
}

.accordion-container label {
    display: block;
    padding: 8px 22px;
    margin: 0 0 1px 0;
    font-size: 1.3vw;
    width: 20vw;
    cursor: pointer;
    background: transparent;
    border-radius: 3px;
    font-weight: 600;
    color: #A96142;
    transition: ease .5s;
    position: relative;
}

.accordion-container label::after {
    font-family: "Font Awesome 5 Free";
    content: '\f078';
    font-weight: bold;
    font-size: 1.3vw;
    position: absolute;
    right: 10px;
    top: 6px;
}

.accordion-container input:checked+label::after {
    content: '\f077';
}

.content {
    background: transparent;
    padding: 10px 25px;
    max-width: 20vw;
    margin: 0 0 1px 0;
    border-radius: 3px;
    font-size: 1.2vw;
    text-align: left;
}

input+label+.content {
    display: none;
    position: absolute;
}

input:checked+label+.content {
    display: block;
}

.how-btn {
    display: block;
    border: 1px solid #A96142;
    margin-top: 10%;
    margin-left: 35vw;
    margin: 13% 35vw 4% auto;
    width: 30vw;
    font-size: 1.6vw;
    background-color: #A96142;
    padding: 1% 4%;
    border-radius: 5px;
    color: #fff;
}

.how-btn:hover {
    color: #A96142;
    background-color: #fff;
}

/* About Us section CSS */
/* General Settings */
#about-us {
    height: auto;
    background-color: #fff;
}

/* Force the image to fit the entire screen */
.about-img {
    width: 100vw;
}

/* Carousel code */
/* Change the dots for this specific carousel so they're a bit higher than the standard */
#aboutUs .flickity-page-dots {
    bottom: 10%;
}

/* Realigning to fix a bug where the ladies disappeared behind the next section */
.about-us-gallery {
    position: relative;
    align-items: center;
    vertical-align: bottom;
    bottom: -5px;
    height: 100%;
}

/* Part Two of About me Section with text and image content */
/* General Settings */
#about-us-part-two {
    background-color: #637763;
    font-size: 1.5vw;
    color: #fff;
    padding: 3% 4% 3% 0%;
    text-align: center;
}

/* Text Settings */
#about-us-part-two p {
    margin-top: 4%;
}

#about-us-part-two h3 {
    font-size: 2vw;
    font-weight: 700;
    padding: 3% 0% 7%;
}

.about-container {
    display: flex;
    padding-left: 4%;
}

.about-text {
    text-align: left;
    width: 58vw;
}

.about-btn {
    display: block;
    margin-top: 6%;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 1% 4%;
    font-size: 1.2vw;
    width: 13vw;
    color: #fff;
    text-align: center;
}

.about-btn:hover {
    background-color: #fff;
    color: #637763;
}

.about-image {
    width: 42vw;
}

.about-image-image {
    max-width: 100%;
    max-height: 90%;
    object-fit: scale-down;
}

/* Testimonials Section CSS */
/* General settings */
#testimonials {
    color: #637763;
    font-size: 1.3vw;
    background-image: url("../images/RectangleMarble.png");
    height: auto;
    background-repeat: repeat;
    background-size: 100% auto;
}

/* Text settings */
/* Big font used for name */
.testiHeader {
    text-align: center;
    font-size: 1.7vw;
}

/* Smaller font */
.image-paragraph {
    text-align: center;
}

/* "Image" is the quotation mark */
.testimonial-image {
    width: 3vw;
}

/* Carousel code */
.testimonial-gallery {
    align-items: center;
    vertical-align: center;
    height: auto;
    padding-bottom: 3%;
}

/* Contact Section CSS */
#contact {
    background-color: #f5f5f5;
    height: auto;
    /* No idea why, but this line fixed some scaling issues */
}

.contact-section-container {
    display: flex;
}

.contact-image {
    width: 50vw;
}

.contact-image-image {
    position: relative;
    object-fit: none;
    object-position: center;
    max-width: 100%;
    height: 100%;
    width: auto;
}

/* Actual contact form */
.contact-form {
    width: 50vw;
    padding: 2% 5% 0%;
}

.contact-form-top {
    font-size: 1.3vw;
}

#contact .form {
    background: #f5f5f5;
}

#contact input {
    width: 100%;
    font-size: 1.3vw;
    box-sizing: border-box;
    background: none;
    outline: none;
    border: 0;
    transition: all .3s;
    border-bottom: 0.2vw solid #bebed2;
}

#contact input:focus {
    border-bottom: 0.2vw solid #78788c;
}

.contact-input {
    display: block;
    margin-top: 7%;
    font-size: 1.3vw;
    font-weight: 600;
    color: #5a5a5a;
}

#contact button {
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif;
    border: 0.1vw solid #5a5a5a;
    padding: 1% 0%;
    border-radius: 5px;
    background: #5a5a5a;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
    margin-left: 13vw;
    text-align: center;
    font-size: 1vw;
    width: 12vw;
}

#contact button:hover {
    background: none;
    color: #5a5a5a
}

#contact .actual-contact-form {
    content: 'Hi';
    background: #50505a;
    color: #fff;
    width: 50vw;
    height: 100%;
    font-size: 1.3vw;
}

/* Text Settings */
.contact-bottom-text {
    text-align: center;
    font-size: 1.3vw;
    margin-top: 20%;
}

#contact ::placeholder {
    color: #dcdcdc;
}

/* Footer Section CSS */
/* General Settings */
footer {
    background-color: #e9e5dc;
    font-size: 1.2vw;
    font-weight: 500;
    padding: 2% 20% 2%;
    text-align: center;
}

footer a {
    color: #5a5a5a;
}

/* Navigation links */
.links-container {
    display: none;
}

.socials-container {
    display: flex;
    justify-content: space-around;
    padding: 4% 40%;
}

.footer-social {
    object-position: center;
}

.footer-social img {
    height: 1.2vw;
}

.signature-container {
    font-weight: 400;
    font-size: 0.9vw;
}

/* Media queries */
/* Tablet and below */
@media (max-width: 950px) {

    /* Navbar */
    .navbar-container {
        position: relative;
        width: auto;
    }

    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border: none;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: #637763;
        background-color: #fff;
    }

    .menu>li:not(:last-child) {
        border-bottom: none;
    }

    .nav-btn {
        display: none;
    }

    .flickity-page-dots {
        bottom: 1.5vh;
    }

    /* about us section */
    #about-us-part-two {
        padding-left: 4%;
    }

    #about-us-part-two h3 {
        font-size: 1.5rem;
    }

    .about-container {
        padding-left: 0;
    }

    .about-text {
        text-align: justify;
        width: auto;
        font-size: 1rem;
        padding-bottom: 4%;
    }

    .about-image {
        display: none;
    }
    
    .about-btn {
        margin: 6% auto 0% auto;
        font-size: 1rem;
        width: 20vw;
    }

    /* contact us section */
    .contact-section-container {
        justify-content: center;
    }

    .contact-image {
        display: none;
    }

    .contact-form {
        width: 80vw;
    }

    #contact button {
        display: block;
        margin-left: 30vw;
    }

    /* Footer links enabled */
    footer {
        padding-top: 6%;
    }

    .links-container {
        display: flex;
        justify-content: space-evenly;
        font-size: 0.8rem;
    }
}