/* Reset layout to make customizing easier */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Standard HTML elements */
body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

/* Navbar CSS elements */
.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fafafa;
    padding: 1em;
}

.nav-logo {
    height: 100%;
    max-width: 150px;
}

.navbar-container a {
    text-decoration: none;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu a {
    color: #8A9A8A;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #8A9A8A;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: #fafafa;
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.nav-btn {
    background-color: #BF6F4D;
    padding: 12px 18px;
    border-radius: 25px;
    color: #fafafa;
}

.nav-btn:hover {
    background-color: #fafafa;
    color: #BF6F4D;
    /* Decreased padding size by 1px here to stop the button pushing the next section down when hovered */
    padding: 11px 17px;
    border: 1px solid #BF6F4D;
}

/* Header Section CSS */
.header-container {
    background-color: #fafafa;
    display: flex;
    padding: 4% 7% 0% 16%;
}

.header-text {
    width: 58vw;
    padding-top: 10%;
    color: #BF6F4D;
}

.header-lg-text {
    font-size: 3vw;
    font-weight: 500;
    margin-bottom: 2%;
}

.header-sm-text {
    font-size: 1.5vw;
    font-weight: 500;
    margin: 2% 0%;
}

.header-image {
    width: 42vw;
    padding-top: 4%;
    padding-left: 4%;
}

.header-image-image {
    top: 4%;
    max-width: 35vw;
    height: 80%;
    object-fit: scale-down;
}

.header-btn {
    display: block;
    width: 8vw;
    background-color: transparent;
    font-size: 1vw;
    border: 1px solid #BF6F4D;
    border-radius: 5px;
    color: #BF6F4D;
    margin-top: 4%;
    padding: 1% 0% 1% 4%;
}

.header-btn:hover {
    background-color: #BF6F4D;
    color: white;
}

/* Media queries */
/* Tablet and below */
@media (max-width: 800px) {

    /* Navbar */
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border: none;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: #8A9A8A;
        background-color: #fafafa;
    }

    .menu>li:not(:last-child) {
        border-bottom: none;
    }

    .nav-btn {
        display: none;
    }
}